<div class="row">
    <div class="container">
        <br>
        <div *ngFor="let coment of coments">
            <b>{{ coment.userName }}</b>
            <p>{{ coment.userComent }}</p>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="input-group mb-3">
        <form
            class="register-form" 
            #comentForm="ngForm">


            <input 
                ngModel
                name="userComent"
                required=""
                type="text" 
                value=""
                class="form-control" 
                placeholder="投稿する内容" 
                aria-label="投稿内容" 
                aria-describedby="button-addon2">
            <button [disabled]="!comentForm.valid" class="btn btn-primary" type="reset" id="button-addon2" (click)="coment(comentForm)">投稿する</button>
            <button class="btn btn-primary" id="button-addon2" (click)="reload()">更新する</button>
        </form>
    </div>
</div>